.header__heading {
    text-align: center;
}

.header__paragraph {
    text-align: center;
}

.header__image {
    display: block;
    width: 35%;
    margin: 0 auto;
    transition: border-radius .3s;
}

.header__button {
    display: block;
    margin: 20px auto;
    background-color: #6e88c0;
    color: white;
    border: none;
    padding: 14px 20px;
    cursor: pointer;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .3s;
}

.header__button:hover {
    background-color: #4f72bc;
}